* {
    margin: 0;
    padding: 0;
    color: rgb(10, 10, 137);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;    
}

.container {
    position: relative;
    left: 550px;
    height: 890px;
    width: 400px;
    /* border: 1px solid black; */
    background-color: #f2f2f7;
}
.tour{
    height: 180px;
    width: auto;
    background-color: rgb(10, 10, 137);  
}
.p{
    color: #f2f2f7;
    padding-top: 125px;
    padding-left: 20px;
    text-align: start;
    font-size: 2.4rem;
}
.history{
    margin-left: 29px;
    margin-top: 100px;
    width: 348px;
    height: 490px;
    /* border: 0.5px solid black; */
    font-size: 1.21rem;
}
.a2{
    position: relative;
    top: 40px;
    background-color: #f2f2f7;
    width: 170px;
    height: 35px;
    /* border: 1px solid black; */
    /* display: inline-flex; */
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}
#back{
    left: 44px;
}
#next{
    left: 260px;
}