* {
    margin: 0;
    padding: 0;
    color: rgb(10, 10, 137);
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid black; */
} 

.container {
    position: relative;
    left: 550px;
    height: 890px;
    width: 400px;
   
    background-color: #f2f2f7;
}

.login {
    height: 40px;
    width: 200px;
    /* border: 1px solid black; */
    position: relative;
    top: 95px;
    left: 82px;
    text-align: center;
    padding: 20px;
    font-size: 2.5rem;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.username {
    position: relative;
    height: 40px;
    width: 350px;
    margin-bottom:10px ;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: white;
   
}
#user{
    top: 150px;
    left: 23px;
}

.name {
    text-align: left;
    padding-left: 10px;
    padding-top: 11px;
    font-size: 1.1rem;
    font-weight: bold;
}

#password {
    top: 180px;
    left: 23px;
}

.Forget-password {
    position: relative;
    left: 210px;
    top: 255px;
}
a {
    text-decoration: none;
    font-weight: bolder;
}

.a {
    font-weight: bold;
    font-size: 0.9rem;
}

#login {
    position: relative;
    top: 265px;
    left: 50px;
    height: 57px;
    width: 300px;
    /* border: 1px solid none; */
    background-color: rgb(10, 10, 137);
    border-radius: 30px;
    border-style: none;
    
}
.log{
    color: #f2f2f7;
    font-size: 1.6rem;
    font-weight: bold;
}

span {
    position: relative;
    top: 400px;
    left: 60px;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 550;
}

.p {
    position: relative;
    top: 510px;
    left: 80px;
    font-weight: bold;
}