* {
    margin: 0;
    padding: 0;
    color: rgb(10, 10, 137);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;    
}

.container {
    position: relative;
    left: 550px;
    height: 890px;
    width: 400px;
    /* border: 1px solid black; */
    background-color: #f2f2f7;
}
.tour{
    height: 180px;
    width: auto;
    background-color: rgb(10, 10, 137);  
}
.p{
    color: #f2f2f7;
    padding-top: 125px;
    padding-left: 20px;
    text-align: start;
    font-size: 2.4rem;
}
.div1{
    position: relative;
    top: 75px;
    left: 100px;
    text-align: center;
    height: 30px;
    width: 200px;
    font-weight: bolder;
    font-size: 25px;
}
.nalanda{
    margin-top: 90px;
    margin-left: 40px;
    width: 320px;
    height: 230px;
    border-radius: 10px;
    background-image: url("nalanda.jpeg");
    background-size: cover;
}
.address{
    margin-left: 45px;
    margin-top: 35px;
    height: 200px;
    width: 320px;
    font-size: 1.5rem;
}
.a2{
    position: relative;
    top: 45px;
    background-color: #f2f2f7;
    width: 170px;
    height: 35px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}
#back{
    left: 44px;
}
#next{
    left: 260px;
}

